# Dependencies
/_deps/

# Node modules
/node_modules/

# Build artifacts
/build/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/CTestTestfile.cmake
/*.o
/*.obj
/*.exe
/*.out
/*.a
/*.so
/*.dll
/*.dylib

# Logs and temp files
*.log
*.tmp
*.swp
*.swo

# Editor/OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# GTest build files
Testing/
test_runner

# NodevisionDB data files
graphs/
tables/
objects/
